.App {
  width:100%;
  height:100%;
}
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.main_wrapper{
    box-sizing: border-box;
    max-width:1200px;
    margin:0 auto;
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
    }

    .mobile-menu__hamburger{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        border-radius: 5px;
        display:none;
        position:absolute;
        top:20px;
        left:220px;
        width:50px;
        height:50px;
        background-color: rgba(31, 31, 31,0.1);
     
    }
    .mobile-menu__hamburger:hover{
        border-radius: 10px;
        background-color: rgba(31, 31, 31,0.5);
        cursor: pointer;
    }
.mobile-menu__hamburger--line{
    background-color: rgba(75, 75, 75, 0.7);
    width:90%;
    height:7px;
    margin:0 auto;
    border-radius: 4px;
}
.mobile-menu__nav{

position:absolute;
top:100px;
left:10%;
width:80%;
height:250px;
background-color: rgba(70, 70, 70,0.7);
z-index: 4;
opacity:0;
transition-property:all;
transition-duration: 2s;
border-radius: 5px;
}
.mobile-menu__nav--item{
    text-align: center;
}
.mobile-menu__nav--item > a{
    
color:rgb(255, 215, 215);
text-decoration: none;
font-size: 24px;
font-weight: 900;
}
.mobile-menu__nav--item > a:hover{
    
    color:rgb(253, 162, 162);
    font-size: 25px;
}
.back-button__button{
position:fixed;
width:50px;
height:50px;
bottom:15px;
right:15px;
background-color: rgba(184, 126, 126,0.5) ;
opacity: 0;
transition-property: all;
transition-duration: 1s;
border-radius: 5px;
z-index: 4;
}
.back-button__button:hover{
    cursor: pointer;
}
.back-button__button--item{
    width:60%;
    height:60%;
    border-right: 8px solid rgba(70, 70, 70,0.7);
    border-top: 8px solid rgba(70, 70, 70,0.7);
    border-left: none;
    border-bottom: none;
    border-radius: 5px;
    margin:17px auto;
    transform: rotate(315deg);
}   
    .navigation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgb(206, 205, 205);
        width: 100%;
        box-shadow:0px 5px 11px rgb(206, 205, 205);
        }

        .navigation__logo{
            text-align: center;
            width:150px;
            font-family: 'Erica One', cursive;
            margin: 10px 70px;
            font-size:45px;
            color:rgba(53, 53, 53,0.2);
        }

        .navigation__menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 520px;
            height:60px;
            margin:0px 0px 0px 100px;  
            background-image: url("assets/img/_elementy_gradient_menu.png");
            background-size: 100% 100%;
                   
        }
        .navigation__menu-links{
            display:flex;
            flex-basis: 70%;
            margin-left: 20px;
            height: 60%;
            border-right: white solid; 
            justify-content: center;
            
        }

        .navigation__menu-link{
            display:block;
            align-content: center;
            margin: auto;
        }
        .navigation__menu-link a{
            display:block;
            font-family: 'Montserrat', sans-serif;
            color:white;
            text-decoration: none;
            font-size: 16px;
        }
        .navigation__menu-link a:hover{
            
            font-family: 'Montserrat', sans-serif;
            color:white;
            font-weight: bold;
        }

        .navigation__menu-icons{
            display:flex;
            flex-basis: 30%;
            flex-direction: row;
            justify-content: space-around;
        }
        .navigation__menu-icons a{
            color:white;
            font-size: 23px;
        }
        .navigation__menu-icons a:hover{
           color:wheat;
        }
/* about me section */
        .aboutme{
            margin:0 auto;
            display:flex;
            flex-direction: row;
            width:100%;
            min-height:900px;
            position:relative;  
        }
        .aboutme__main-title{
            box-sizing: border-box;
            position:absolute;
            width:60%;
            min-height:180px;
            top:110px;
            left:340px;
            background-color: rgba(255, 253, 253, 0.8);
            z-index: 3;
            border-radius: 10px;
            box-shadow: 2px 2px rgba(107, 107, 107,0.5);
            padding: 10px;
        }

        .aboutme__main-title h1{
            margin:0 auto;
            font-size: 24px;
        }
        .aboutme__main-title-git{
            display:flex;
            justify-content: flex-end;
        }
       .icon{
           width:40px;
            height: 40px;
            margin:0 5px;
            transition-property: all;
            transition-duration: 1s;
            
            
       }
       .icon:hover{
    background-color: rgb(141, 141, 141);
         
    }
       .bitbucket{
        background:url("assets/img/bit_bucket_icon.png");
        background-size: cover;
        
       }
       .github{
        background:url("assets/img/github_icon.png");
        background-size: cover;
       }
    

        .aboutme__left{
            flex-basis: 50%;
            word-wrap: break-word;
            min-height: 930px;
        }

        .aboutme__right{
            flex-basis: 50%;
            min-height: 425px;
        }
        .aboutme-circle1{
            opacity: 50%;
            position:absolute;
            width:180px;
            height:180px;
            background:url("assets/img/koła_02.png");
            background-size: cover;
            z-index: 2;
        }
        .aboutme-circle2{
            top:200px;
            left:200px;
            position:absolute;
            width:300px;
            height:300px;
            background:url("assets/img/koła_01.png");
            background-size: cover;
            z-index: 0;
        }

        .aboutme-photo{
           
            position:absolute;
            top:80px;
            left:80px;
            width:300px;
            height:300px;
            background:url("assets/img/portret.jpg");
            background-size: cover;
            z-index: 1;
            border-radius: 5px;
        }
        .aboutme__aboutme{
            box-sizing: border-box;
           padding: 0 20px;
            word-wrap: break-word;
            width:50%;
            position:absolute;
            top:400px;
            left:0px;
        }

        p,li{
            font-family: 'Roboto Condensed', sans-serif;
            text-align: justify;
        }
        h1,h2{
            font-family: 'Montserrat', sans-serif;  
            margin:0 auto;
        }
        h3{
            font-family: 'Montserrat', sans-serif;  
            color:rgb(184, 126, 126) ;
            font-size:22px;
            margin:0 auto;
        }
        .aboutme__aboutme-easyCode{
            width:100%;
            display:flex;
            vertical-align: center;
            justify-content: flex-end;
        }
        .aboutme__aboutme-photo{
            width:100px;
            height:30px;
            display: block;
            margin:auto 10px;
        }
        .aboutme__aboutme-easyCode>p{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 700;
        }

        .aboutme__right-freelancer{
            position:relative;
            width:100%;
            height:55%;
        }
        .aboutme__right-circle3{
            position:absolute;
            top:195px;
            left:300px;
            background: url("assets/img/koła_03.png");
            background-size: cover;
            width:300px;
            height:300px;
        }
        .aboutme__right-article{
            margin:10px auto;
            position:absolute;
            max-width:300px;
            height:150px;
            top:300px;
            left:200px;
        }
        .aboutme__right--button{
            width:100%;
            height:27%;
            display:flex;
            justify-content: space-around;
        }
        .aboutme__right--button > a{
            display:block;
      text-decoration: none;
      height: 100%;
      margin:0 5px;
        }
        .aboutme__right--buttonL{
            
            vertical-align: middle;
            min-height: 20px;
            padding:10px;
            flex-basis: 45%;
            background:url("assets/img/button_01.png");
            background-size: 100% 100%;
            text-align: center;
            margin:0 5px;
            font-weight: 900;
            opacity:0.7;
            font-family: 'Montserrat', sans-serif;
            color:white;
             transition-property: all;
             transition-duration: 0.2s;
        }
        .aboutme__right--buttonL:hover{
            opacity:1;
        }

        .aboutme__right-skills{
            display:flex;
            width:100%;
            height:45%;
            align-items:center;
            justify-content: space-around;
            flex-direction: column;
        }
        .aboutme__right--title{
            width:80%;
            flex-basis:15%;
        }

        .aboutme__right--skill{
            margin: 5px 0;
            background-color: rgba(201, 201, 201, 0.5);
            width:80%;
            flex-basis: 8%;
            border-radius: 10px;
        }

        .skills{
            background: url("assets/img/tło_gradient.png");
            height:100%;
            background-size: cover;
            border-radius: 10px;
            box-shadow: 2px 2px rgb(143, 143, 143);
            color:whitesmoke;
            font-family: 'Montserrat', sans-serif;
            text-align: right;
            padding:5px;
            box-sizing: border-box;
            
        }
        .php{
            width:100%;
            
        }
        .js{
            width:90%;
        }
        .html{
            width:90%;
        }
        .nodejs{
            width:60%;
        }
        .css{
            width:90%;
        }
        .go{
            width:60%;
        }
        /* Tools section */

        .portfolio{
            width:100%;
            position:relative;
            margin:20px auto;
        }
        .portfolio > .aboutme-circle1{
            top:130px;
            left:950px;
            opacity: 1;
            width:200px;
            height:200px;
        }
        .portfolio > .aboutme-circle2{
            top:400px;
            left:550px;
            opacity: 1;
            width:500px;
            height:500px;
            z-index:-1;
        }

        .portfolio__tools{
            box-sizing: border-box;
            width:100%;
            min-height:200px;
            background-image: url("assets/img/tło_gradient.png");
            background-size: cover;
            padding:20px 40px;
        }
        .portfolio__programs{
            width:80%;
            min-height:100px;
            box-sizing: border-box;
            padding: 10px 0px;
            display:flex;
            align-content:center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .portfolio__programs-ico{
            
            width:100px;
            height:100px;
            background-color: cornsilk;
            border-radius: 5px;
            box-shadow: 2px 2px rgba(107, 107, 107,0.5);
            margin:10px 10px;
        }
        .portfolio__programs-ico div{
            width:58px;
            height:52px;
            margin:10px auto;
            
        }
        .portfolio__programs-ico p{
            font-size:12px;
            margin:auto 0;
            text-align: center;
        }
        .react{
            background:url("assets/img/React.png");
            background-size: 100% 100%;
        }
        .webpack{
            background:url("assets/img/webpack.png");
            background-size: 100% 100%;
        }
        .js_ico{
            background:url("assets/img/js.png");
            background-size: 100% 100%;
        }
        .sc{
            background:url("assets/img/styled.png");
            background-size: 100% 100%;
        }
        .redux{
            background:url("assets/img/redux.png");
            background-size: 100% 100%;
        }
        .css_ico{
            background:url("assets/img/css3.png");
            background-size: 100% 100%;
        }
        .other{
            background:url("assets/img/tool_program_ikona.png");
            background-size: 100% 100%;
        }

        .portfolio__portfolio{
            width:100%;
            padding:20px 40px;
            box-sizing: border-box;
        }
        .portfolio__projects{
            display:flex;
            width:100%;
            flex-wrap: wrap;
            margin:20px 0px;
            justify-content: space-around;
           
        }

        .portfolio__project{
            border-radius: 5px;
            margin:10px auto;
            width:350px;
            height:250px;
            transition-property: all;
            transition-duration: 1s;
        }

        .portfolio__project--article{
            margin:10px auto;
            width:90%;
            height:80%;  
        }
            .pro1{
                background:url("assets/img/portfolio_case_01.png");
                background-size: 100% 100%;
                z-index: 0;
            }
         .portfolio__project--content{
             width:100%;
             height:100%;
             opacity:0;
             z-index: 1;
             transition-property: all;
             transition-duration: 1s;
             background-color: rgba(250, 190, 190,0.7);
         }

         .portfolio__project--ico{
            width:25px;
            height:25px;
         }
         .portfolio__project--content h3{
           color:rgb(255, 255, 255);
        }

        .pro2{
            background:url("assets/img/portfolio_case_02.png");
            background-size: 100% 100%;
        }
        .pro3{
            background:url("assets/img/portfolio_case_03.png");
            background-size: 100% 100%;
        }
        .pro4{
            background:url("assets/img/portfolio_case_04.png");
            background-size: 100% 100%;
        }
        .pro5{
            background:url("assets/img/portfolio_case_05.png");
            background-size: 100% 100%;
        }
        .pro6{
            background:url("assets/img/portfolio_case_06.png");
            background-size: 100% 100%;
        }
        .portfolio__project--bar{
            margin:0 auto;
            width:90%;
            height:10%;
            display:flex;
            justify-content: flex-end;
        }
        .portfolio__project--bar img{
            margin:0px 5px;
            display:block;
        }
       .portfolio__project--bar a:hover{
        border-radius: 5px;
        transition-property: all;
        transition-duration: 1s;
        background-color: rgba(255, 255, 255, 1);
       }
       
       .blogAndContact{
        width:100%;
        padding:20px 40px;
        box-sizing: border-box;
           position:relative;
       }
       .blogAndContact__blog{
           width:100%;
       }
       .blogAndContact__blog--post{
           width:100%;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
       }

       .blogAndContact__blog--photo{   
        margin:10px auto;
        flex-basis:30%;
        min-height:150px;
        border-radius: 10px;
        box-shadow: 2px 2px rgba(107, 107, 107,0.5);
        
       }

       .blogAndContact__blog--content{
           position:relative;
        margin:10px auto;
            flex-basis: 50%;
            min-height:150px;
       }

       .blogAndContact__blog--author{
           float:right;
           min-height:20% ;
           
           height:15%;
           
       }
       .blogAndContact__blog--author > i{
        font-size: 12px;
        text-decoration: none;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;  
        color:rgb(184, 126, 126) ;
    }
       .blogAndContact__blog--content > p{
       max-width: 80%;
    }
    .blogAndContact__blog--readmore{
        text-align: center;
    }
    .blogAndContact__blog--readmore > a{
        
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;  
        color:rgb(184, 126, 126) ;
        font-weight: 900;
    }

    .bphoto1{
        background:url("assets/img/blog1.jpg");
        background-size: 100% 100%;
    }
    .bphoto2{
        background:url("assets/img/blog2.jpg");
        background-size: 100% 100%;
        
    }

    .contactForm{
        display:flex;
        width:calc(100%-80px);
        background:url("assets/img/tło_gradient.png");
        background-size: 100% 100%;
        padding:20px 40px;
    }

    .contactForm__left{
        flex-basis:50%;
    }
    .contactForm__left>p{
        max-width: 400px;
    }
    .contactForm__right{
        flex-basis: 50%;
        
    }

    .contactForm__left--input{
        box-shadow: 2px 2px 5px rgba(107, 107, 107,0.5);
        border: none;
        margin:10px auto;
        width: 70%;
        min-height: 40px;
        border-radius: 5px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        padding: 10px;
    }
    .contactForm__left--textarea{
        min-height: 150px;
        resize: none;
        vertical-align: bottom;
    }
    .button{
        font-size: 20px;
        font-weight: bold;
        color: blanchedalmond;
        font-family: 'Montserrat', sans-serif;
        background-image: url("assets/img/kontakt_ikona_new.png");
        background-size: 100% 100%;
        width:100px;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin:10px 10px 10px 10px;
    }
    .button:hover{
        color:white;
        font-weight: bold;
        cursor: pointer;
    }
    .contactForm__right{
        flex-basis: 50%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

    .contactForm__right >p{
        margin:0;
    }
.contact__form--tel{
    display:flex;
    z-index: 2;
    align-items: center;
    position: absolute;
    top:150px;
    left:30px;
    width:300px;
    height:100px;
    background-color: rgb(255, 255, 255);
    opacity: 75%;
}
.contact__form--tel > p{
    max-width: 150px;
    font-size: 20px;
}

.blogAndContact > .aboutme-circle2{

    top:200px;
    left:-100px;
    z-index: -1;
   }
   .blogAndContact > .aboutme-circle1{
    background:url("assets/img/koła_03.png");
    background-size: 100% 100%;
    top: 410px;
    left: 580px;
    width:350px;
    height:350px;
    opacity: 100%;
    z-index: 1;
    
   }

   @media screen and (max-width: 1200px) {

    .aboutme__right-circle3 {
      display:none;
    }
    .aboutme-circle1{
        display:none;
    }
  }
  @media screen and (max-width: 970px) {
    .blogAndContact__blog--photo{   
        display:none;
           }
  
    .portfolio > .aboutme-circle2 {
        left: 200px;
    }
    .navigation__logo {
        margin:10px 0;
    }
    .navigation__menu{
        margin: 0px 0px 0px 0px;
 }
 .aboutme__right-article {
    left: 40px;
}
}
@media screen and (max-width: 700px){
    .aboutme__right-article{
        position:unset;
    }
    .aboutme__aboutme{
    width:100%;
    }
    .aboutme{
        flex-direction: column;
    }
    .contactForm{
        flex-direction: column;
    }
.aboutme-photo{
    display:none;
}
.aboutme__main-title{
left:10px;
width:100%;
}
.aboutme-circle2 {
    display:none;
}
.blogAndContact__blog--content{
    flex-basis: 100%;
}

   .contact__form--tel{
       width:250px;
   }
}
@media screen and (max-width: 550px){
    .contactForm__left--input{
        
        margin:10px auto;
        width: 90%;
      
    }
}

@media screen and (max-width: 500px){
    .navigation__menu{
        display:none;
    }

    .portfolio__project {
        height: 200px;
    }
      .mobile-menu__hamburger{
        display:flex;
    }
}